---
import avatar from '../assets/logo.webp';
---

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="#" class="image avatar"><img src={avatar} alt="logo" /></a>
		<h2>
			<strong>Centro Ocupacional America</strong><br />
		</h2>
		El curso tiene como objetivo formar personas<br />
		innovadoras y profesionales<br />
		en una carrera corta y de alto impacto.<br /><br />
	</div>
</header>
